.tab_icon {
  max-width: 15px;
  max-height: 15px;
}
.tabs {
  border-bottom: 1px solid #1e2126;
  color: #ffffff;
  overflow: hidden;
}

.folders-bar {
  background: #282a36!important;
}

.snippet {
  overflow: auto;
  height: calc(100vh - 57px);
}
